.hero {
  color: #fff;
   /* optional overall background */
}

.hero-heading {
  font-size: 3rem;
  font-weight: bold;
  margin-top: 6rem;
  margin-bottom: 2rem;
}

.hero-text {
  font-size: 1.25rem;
  margin-bottom: 2rem;
}

/* Button styling */
.btn-white {
  background-color: #fff;
  color: #000;
  border: none;
}

.hero-btn {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: 500;
  transition: background-color 0.3s, color 0.3s;
}

.hero-btn:hover {
  background-color: #ffc107; /* Bootstrap warning yellow */
  color: #000;
}
.hero-action{
    margin-bottom: 12rem;
}

