
h1{
    padding: 0px 30px;
    font-size: 50px;
    font-weight: 600;
}
/* Adjust profile image size */
.about-img {
  width: 250px;
  height: 300px; /* Change height as needed */
  object-fit: cover;
  border-radius: 0;
}

/* Paragraph styling */
.about-para p {
  font-size: 1.25rem;
  line-height: 1.6;
}
.progress{
    background-color: #161513;
    box-shadow: none;
}
.progress-thin {
  height: 6px !important;
}




