.nav-link {
  transition: color 0.3s, 
  background-color 0.3s;
}

.nav-link:hover,
.nav-link:focus {
  color: #ffc107; /* yellow */
  background-color: rgba(255, 193, 7, 0.2); /* subtle yellow highlight */
}

.nav-link.active,
.nav-link[aria-current="page"] {
  color: #ffc107 !important;
}

